PORT=8080
NODE_ENV=development
APP_BASE_URL=http://localhost:8080
OPENAI_API_KEY=
SUPABASE_URL=https://hgwcvmkeqammsdblgezf.supabase.co
SUPABASE_ANON_KEY=sb_publishable_RoWQVypfXjiQrYkS1nHAxQ_mC0dWvs3
SUPABASE_SERVICE_ROLE_KEY=
VERCEL_TOKEN=
VERCEL_PROJECT_ID=prj_ftBIeIdnOCfGBQSWyunJ8t3hm4hz
VERCEL_TEAM_ID=
GITHUB_TOKEN=
GITHUB_ORG=
